<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ultrasonicnanosilver.apps.timeraaaa"
    android:versionCode="1.1"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Nano Silver Generator"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Ultrasonic Nano Silver Generator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".InstructTab"
            android:label="@string/title_activity_instruct_tab"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ultrasonicnanosilver.apps.timeraaaa.MainActivity" />
        </activity>
        <activity
            android:name=".About"
            android:label="About"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ultrasonicnanosilver.apps.timeraaaa.MainActivity" />
        </activity>
        <activity
            android:name=".Privacy"
            android:label="Privacy Policy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ultrasonicnanosilver.apps.timeraaaa.MainActivity" />
        </activity>
        <activity android:name=".webview" />
        <activity
            android:name=".Warranty"
            android:label="Limited Lifetime Warranty"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ultrasonicnanosilver.apps.timeraaaa.MainActivity" />
        </activity>
        />
        <activity
            android:name=".Maintenance"
            android:label="Maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ultrasonicnanosilver.apps.timeraaaa.MainActivity" />
        </activity>
        <activity
            android:name=".Analysis"
            android:label="Analysis"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ultrasonicnanosilver.apps.timeraaaa.MainActivity" />
        </activity>
    </application>

</manifest>